.star{
    /* color:yellow; */
    color:red;
    object-fit: fill;
}

.bookmark__iconBtn{
    margin:0px 10px;    
    color:var(--primary);   

}


.rating{
    margin:4px;
    font-size:0.88rem;
    color:#fff;
}

.rating__clicked{
        margin: 4px;
        font-size: 0.88rem;
        color: yellow;
}


.progress{
    width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
}