.star{
    /* color:yellow; */
    color:red;
    object-fit: fill;
}

.bookmark__iconBtn{
    margin:0px 10px;    
    color:var(--primary);   

}


.rating{
    /* color:var(--primary); */
    /* font-size:0.85rem; */
}