.trending_gridContainer {
    border-radius:20px;
    font-size:1.2rem;
    padding: 4px;
    width: 98vw;
    background-color: var(--secondary);
    margin-top: 1rem; 
    margin-bottom:2rem;  

}

.trending_gridContainer>h2 {
    margin: 10px;
    font-size:1.2rem;
    letter-spacing:2px;
    color: var(--primary-heading);
    font-family: Poppins, sans-serif;
}