.heading__trending {
    border-radius:20px;
    /* text-align: center; */
    padding: 4px 10px;
    width: 100%;
    background-color: var(--secondary);
    margin: 2.2rem 0.8rem;
}

.heading__trending>h2 {
    margin: 10px 0px;
    color: var(--primary-heading);
    font-family: Poppins, sans-serif;
}