header{
    padding:16px 1.6rem;
    color:var(--primary-heading);
    display:flex;
    flex-flow:column wrap;
    background-color:var(--secondary);
    border:1px solid #333;
    box-shadow: 3px 4px 5px rgba(0,0,0,1);
    border-bottom-left-radius:12px;
    border-bottom-right-radius:12px;
}


header > nav{
    display:flex;
    flex-direction: column;
    text-align:center;
}

nav>h1 {
    font-family: 'Exo', sans-serif;
    letter-spacing:10px;
    font-size:2rem;
}

nav > p{
    font-family: 'Quicksand',
    sans-serif;
    letter-spacing:5px;
    font-family: cursive;
    font-size:15px;
}
.nav__keys{
    display:flex;
    justify-content:space-between;
    margin-top:15px;
    align-items: baseline;
}

.nav__keys >form  > input{
    padding:10px;
    font-size:18px;
    background-color:var(--primary);
    font-family: cursive;
   
}

.nav__keys > form > input:focus{
    outline:0;
}

.nav__keys > button{
    width:80px;
    height:40px;
    font-size:18px;
    background-color:#DBDBE5;
}



@media screen and (max-width: 800px){
 nav>h1 {
     letter-spacing: 4px;
     font-size:1.9rem;
 }

 nav>p {
     letter-spacing: 2px;
     font-family: cursive;
     font-size: 12px;
 }

 .nav__keys{
     margin-top:12px;
 }
 .nav__keys > form >input {
     padding: 6px;
     font-size: 12px;
 }

 .nav__keys > form >input:focus {
     outline: 0;
 }

 .nav__keys>button {
     width: 50px;
     height: 30px;
     font-size: 12px;
 }
}

@media screen and (max-width: 710px){

    .nav__keys > form >input{
        margin-top:20px;
    }
}

@media screen and (max-width: 460px) {
    nav>h1 {
        letter-spacing: 5px;
        font-size: 2rem;
    }

    nav>p {
        letter-spacing: 2px;
        font-family: cursive;
        font-size: 10px;
    }

    .nav__keys {
        margin-top: 3.3rem;
    }

    .nav__keys > form >input {
        padding: 6px;
        font-size: 12px;
    }

    .nav__keys > form >input:focus {
        outline: 0;
    }

    .nav__keys>button {
        width: 54px;
        height: 30px;
        font-size: 12px;
    }
}

@media screen and (max-width: 380px) {
    nav>p {
        margin-top:1px;
        letter-spacing: 1px;
        font-size: 8px;
    }

    .nav__keys {
        margin-top: 2rem;
    }

    .nav__keys>form>input {
        padding: 3px 0px;
        font-size: 12px;
    }

    .nav__keys>form>input:focus {
        outline: 0;
    }

    .nav__keys>button {
        width: 40px;
        height: 25px;
        font-size: 10px;
    }
}