.MuiToggleButton-root{
    width:100px;
    padding:0
}

.MuiToggleButton-label {
color: var(--secondary);
font-size: 0.8rem;
font-family: Rubik, sans-serif;
}



@media screen and (max-width:650px) {
.MuiToggleButton-root {
    width: 90px;
}

.MuiToggleButton-label {
    font-size: 0.72rem;
}
}

@media screen and (max-width:550px) {
    .MuiToggleButton-root {
        width: 65px;
    }

    .MuiToggleButton-label {
        font-size: 0.6rem;
    }
}

@media screen and (max-width:550px) {
    .MuiToggleButton-root {
        width: 75px;
    }

    .MuiToggleButton-label {
        font-size: 0.55rem;
    }
}


@media screen and (max-width:400px) {
    .MuiToggleButton-root {
        width: 80px;
    }

    .MuiToggleButton-label {
        font-size: 0.6rem;
    }
}